@import 'layout.scss';

.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex: 1;
}
.products_list {
  display: flex;
  background-color: #006400;
  height: 200px;
  flex: 1;
}
.news {
  display: flex;
  background-color: #0ff;
  height: 200px;
  flex: 1;
}
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}
