* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
.header {
  color: white;
  background-image: linear-gradient(60deg, red, orange);
  text-align: center;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navigation {
  width: 20%;
  padding: 0.5em;
}
.section {
  width: 60%;
  padding: 0.5em;
  font-size: 1.25em;
}
picture {
  margin: auto;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.units-list {
  line-height: 1.75em;
}
.news {
  width: 20%;
  padding: 0.5em;
}
.main {
  display: flex;
  flex: 1;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0px;
}
.nav-list-item {
  background-color: #808080;
  color: white;
  line-height: 2em;
  margin-bottom: 0.5em;
  display: flex;
}
.nav-list-link {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 600px) {
  .navigation {
    width: 100%;
  }
  .nav-list {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
  .news {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .navigation {
    width: 20%;
  }
  .section {
    width: 80%;
  }

  .main {
    flex-wrap: wrap;
  }
  .news {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    width: 20%;
  }
  .section {
    width: 60%;
  }
  .news {
    width: 20%;
  }
}
